@import url(./declarations.module.css);

/* || UTILITY */
.indent {
    /* indents the text in the element */
    padding-left: 2rem;
}

.centre {
    /* centres text */
    text-align: center;
}

.centre_img {
    /* centres an image */
    display: block;
    margin: auto;
    border: 2px solid black;
}

.underline {
    text-decoration: underline solid var(--accent-orange) 1px;
}

a.link_svg {
    position: relative;
}
a.link_svg::after {
    position: relative;
    content: ' ';
    bottom: 0;
    right: -1em;
    background-image: url(../media/svg/link-thick.svg);
    height: 1em;
    width: 1em;
}

.sideBySide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* || STYLES */
main {
    padding-right: 3rem;
}

.ms_main_container {
    display: flex;
    flex-direction: row;
}

.ms_article {
    flex: 3;
    box-shadow: 0px 2px 4px var(--light), -2px -2px 4px var(--light);
    padding: 1rem;
    counter-reset: list;
    max-width: 75%;

    & h3,
    h4,
    p,
    dl,
    ul{
        margin-block: 1rem;
        margin-left: 5%;
    }
}

.ms_contents {
    flex: 1;
    position: sticky;
    top: 2rem;
    max-height: 90vh;
    overflow: auto;
    background-color: var(--light);
    padding: 1rem;
    font-weight: var(--fw-semibold);
    font-size: var(--fs-lrg);
    line-height: 1.5em;
    box-shadow: 2px 2px 4px var(--light), 0px -2px 4px var(--light);
}

.ms_article h3 {
    font-size: var(--fs-head);
}

.ms_article h4 {
    font-size: var(--fs-lrg);
}

/* Main Bookmark Styles */
.ms_contents li {
    list-style: disc inside;
}

/* Sub Bookmark Styles */
.sub_bookmarks {
    font-size: 1.3rem;
}

.sub_bookmarks li {
    list-style: circle outside;
}

dl {
    /* indents the description list */
    margin-left: 2rem;
}

dd {
    padding-inline: 1rem;
    font-weight: var(--fw-light);
    font-size: var(--fs-sml);
}
dt {
    position: relative;
}
dl.counted dt::before {
    counter-increment: list;
    content: counter(list) ".";
    position: absolute;
    left: -1.5rem;
    top: -4px;
    font-size: 1.3rem;
    font-weight: var(--fw-semibold);
    color: var(--accent-orange);
}

/* || BLOCKQUOTE STYLES */
blockquote {
    /* creates a blockquote */
    position: relative;
    background-color: var(--blue);
    color: var(--light);
    padding: 0.5em;
    padding-left: 3rem;
    border-left: 3px solid var(--dark);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--dark);
    width: 90%;
    min-height: 2em;
    margin-inline: auto;
    margin-block: 0.5rem;
}

blockquote::before {
    /* inserts space for an svg in blockquote */
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 0.5em;
    height: 2rem;
    width: 2rem;
}

blockquote.info::before {
    content: url(../media/svg/info.svg);
}

blockquote.warning::before {
    content: url(../media/svg/warning.svg);
}

span.hr {
    /* Horizontal Rule */
    display: block;
    border: 1px solid var(--light-grey);
    width: 90%;
    margin-inline: auto;
    margin-block: 1rem;
}

/* || HOVERSTYLES */
.bookmark a:hover,
.sub_bookmarks a:hover {
    text-decoration: underline solid var(--accent-orange);
}

#title {
    font-size: var(--fs-massive);
}

#subtitle {
    margin-block: 1rem;
    font-size: var(--fs-head);
    font-weight: var(--fw-light);
}

#aldaExplanation {
    align-items: flex-start;
    margin: 1rem;
    & li {
        flex: 1;
        padding: 1rem;
        margin-inline: 1rem;
        background-color: var(white);
        box-shadow: 3px 3px 4px var(--light), -3px -3px 4px var(--light);
    }
}
