@import url(./declarations.module.css);

main {
    padding-right: 3rem;
}

.ms_main_container {
    display: flex;
    flex-direction: row;
}

.ms_article {
    flex: 3;
    box-shadow: 0px 2px 4px var(--light), -2px -2px 4px var(--light);
    padding: 1rem;
    & h2,
    h3 {
        margin-block: 1rem;
    }
}

.ms_contents {
    flex: 1;
    position: sticky;
    top: 2rem;
    max-height: 90vh;
    overflow: auto;
    background-color: var(--light);
    padding: 1rem;
    font-weight: var(--fw-semibold);
    font-size: var(--fs-lrg);
    line-height: 1.5em;
    box-shadow: 2px 2px 4px var(--light), 0px -2px 4px var(--light);
}

/* || UTILITY */
.indent {
    padding-left: 2rem;
}

.centre {
    text-align: center;
}

.centre_img {
    display: block;
    margin: auto;
    border: 2px solid black;
}

/* Horizontal Rule */
span.hr {
    display: block;
    border: 1px solid var(--light-grey);
    width: 80%;
    margin: auto;
}

/* || HOVERSTYLES */
.bookmark a:hover,
.sub_bookmarks a:hover {
    text-decoration: underline solid var(--accent-orange);
}

#title {
    font-size: var(--fs-head);
}

#subtitle {
    font-size: var(--fs-lrg);
}
