@import url(./declarations.module.css);

* {
    margin: 0;
    padding: 0;
    font-family: "Mailtree", sans-serif;
    box-sizing: border-box;
    color: var(--dark);
}

body {
    background-color: var(--white);
    color: var(--dark);
    position: relative;
    overflow: visible;
}

nav {
    position: sticky;
    bottom: 100vh;
}

main {
    padding-inline: 20rem;
    padding-block: 3rem;
}

p,
dt,
dd,
li {
    font-weight: var(--fw-reg);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", "Inter", Times, sans-serif;
    color: var(--dark);
}

h1 {
    font-size: var(--fs-head);
    font-weight: var(--fw-bold);
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

li {
    list-style: none;
}

@media only screen and (max-width: 1600px) {
    main {
        padding-inline: 10rem;
    }
}

@media only screen and (max-width: 1300px) {
    main {
        padding-inline: 5rem;
    }
}
