@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --dark-blue: #3b4069;
    --lighter-blue: #444872;
    --text-light: #f0f3eb;
    --sandy: #ece0d5;
    --accent-orange: #ff593e;
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--sandy);
}

main {
    padding: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

li.link > a {
    display: block;
    color: var(--text-light);
    background-color: var(--dark-blue);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid var(--dark-blue);
    margin: 5px;
    transition: 0.1s;
}

li.link > a:hover {
    background-color: var(--lighter-blue);
    border: 2px solid var(--sandy);
    translate: 0 -2px;
    transition: 0.2s;
}

ul#learnMore {
    display: flex;
    justify-content: space-around;
    margin-inline: 20%;
    margin-block: 10px;
}

#learnMore li {
    list-style: none;
    text-decoration: none;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    border: 2x solid var(--lighter-blue);
    border-radius: 15px;
    background-color: var(--accent-orange);
    color: var(--text-light);
    transition: 0.2s;

    & a {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        background-color: var(--level-2);
        transition: 0.3s;
        cursor: pointer;
        translate: 0 -2px;
    }
}

#faq a {
    background-color: var(--accent-orange);
    color: var(--text-light);
}

#welcome {
    text-align: center;
    margin: 20px;
    color: var(--dark-blue);
}

/* NAVBAR DROP DOWNS */

.ms_drop {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--lighter-blue);
    color: var(--text-light);
    border-radius: 0 0 15px 15px;

    & ul {
        /* margin: 0.5rem; */

        & li {
            padding: 0.4rem;
            margin: 0.5rem;
            transition: 0.2s;
        }
        & :hover {
            background-color: var(--dark-blue);
            translate: 0.4rem 0;
            transition: 0.3s;
        }
    }
}

.show {
    display: block;
}
