:root {
    --dark-blue: #3b4069;
    --lighter-blue: #444872;
    --text-light: #f0f3eb;
    --sandy: #ece0d5;
    --accent-orange: #ff593e;
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--sandy);
}

main {
    padding: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 10px;
}

a {
    text-decoration: none;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
}

li.link a {
    display: block;
    color: var(--text-light);
    background-color: var(--dark-blue);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid var(--dark-blue);
    margin: 5px;
    transition: 0.1s;
}

li.link a:hover {
    background-color: var(--lighter-blue);
    border: 2px solid var(--sandy);
    translate: 0 -2px;
    transition: 0.2s;
}

ul#learnMore {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    margin-inline: 20%;
}

#learnMore li{
    list-style: none;
    text-decoration: none;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    border: 2x solid var(--lighter-blue);
    border-radius: 15px;
    background-color: var(--accent-orange);
    color: var(--text-light);

    & a {
        text-decoration: none;
        color: inherit;
    }
    
}

#faq a {
    background-color: var(--accent-orange);
    color: var(--text-light);
}

#welcome {
    text-align: center;
    margin: 20px;
    color: var(--dark-blue);
}
