/* LIST STYLES */
.numList {
    * {
        list-style-type: decimal;
    }
}

.dotList {
    * {
        list-style-type: disc;
    }
}

.circList {
    * {
        list-style-type: circle;
    }
}

.romList {
    * {
        list-style-type: lower-roman;
    }
}

.letList {
    * {
        list-style-type: lower-alpha;
    }
}

li::marker {
    color: var(--accent-orange);
    font-weight: var(--fw-bold);
}

iframe {
    width: 800px;
    height: 800px;
}

section.content {
    padding-inline: 10%;
    margin-block-end: 2rem;
}

.bookmark {
    text-decoration: underline;
    color: var(--dark-grey);
}

main {
    position: relative;
}

table.rfdsTable, th, td {
    border: 1px solid var(--rfds-dark-blue);
}

table.rfdsTable {
    display: block;
    margin: auto;
    width: 50%;
    border-collapse: collapse;

    th {
        font-size: var(--fs-lrg);
        background-color: var(--traf-caution);
    }

    th, td {
        padding: 10px;
        text-align: center;
    }
}

table.rfdsTable tr:nth-child(odd){
    background-color: var(--light-grey);
}
table.rfdsTable tr:nth-child(even) {
    background-color: var(--dark-grey);
}




@media only screen and (min-width: 1600px) {
    /* TABLE OF CONTENTS */
    .TOC {
        position: fixed;
        top: 20%;
        right: 0;
        width: 16%;
        border-radius: 15px 0 0 15px;
        box-shadow: -3px 3px 5px var(--light-grey);
        padding: 1rem;

        h4 {
            position: absolute;
            color: var(--dark-grey);
            padding-left: 0.5rem;
            top: 1.2rem;
            right: 1rem;
            transition: translate 0.2s;

            &:hover {
                translate: 0px -1px;
            }
        }

        ul {
            padding-left: 1.5rem;

            li {
                margin-block: 1rem;
                font-family: Poppins;
                font-size: var(--fs-reg);
                color: var(--dark-grey);
                translate: 0 0;
                transition: translate 0.3s;

                &:hover {
                    translate: 1px -1px;
                    text-decoration: underline 2px var(--dark-grey);
                }

                /* &::before {
                    content: "";
                    opacity: 0%;
                    left: -1.1rem;
                    transition: opacity 0.3s;
                    transition: left 0.1s;
                }

                &:hover::before {
                    content: "  ";
                    border-bottom: 3px solid var(--accent-orange);
                    width: 10px;
                    color: var(--accent-orange);
                    height: 2px;
                    position: absolute;
                    left: -1rem;
                    top: 0.5rem;
                    opacity: 100%;
                } */
            }
        }
    }
}

