.container {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.container ul li {
    display: flex;
    align-items: center;
    gap: 10px; /* Add space between elements */
    margin-inline: 15%;
}

ul li .name {
    font-weight: bold;
    flex: 0 0 auto; /* Content takes up only as much space as it needs */
    text-align: left;
}

ul li .line {
    flex: 1; /* Stretch the line to fill the remaining space */
    border-bottom: 2px dotted var(--dark-grey); /* Create the dotted line */
    height: 0; /* Ensure the line itself has no height */
}

ul li .contact {
    font-style: italic;
    flex: 0 0 auto; /* Content takes up only as much space as it needs */
    text-align: right;
}

h2 {
    border-bottom: 3px solid var(--accent-orange);
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
