
.numList {
    
    * {
        list-style-type: decimal;
    }
}

.dotList {

    * {
        list-style-type: disc;
    }
}

.circList {

    * {
        list-style-type: circle;
    }
}

section.content {
    padding-inline: 10%;
}

li::marker {
    color: var(--accent-orange);
    font-weight: var(--fw-bold);
}