
.numList {
    
    * {
        list-style-type: decimal;
    }
}

.dotList {

    * {
        list-style-type: disc;
    }
}

.circList {

    * {
        list-style-type: circle;
    }
}