
.numList {
    
    * {
        list-style-type: decimal;
    }
}

.dotList {

    * {
        list-style-type: disc;
    }
}

.circList {

    * {
        list-style-type: circle;
    }
}

.romList {

    * {
        list-style-type:lower-roman;
    }
}

.letList {

    * {
        list-style-type: lower-alpha;
    }
}
section.content {
    padding-inline: 10%;
    margin-block-end: 2rem;
}

li::marker {
    color: var(--accent-orange);
    font-weight: var(--fw-bold);
}

iframe {
    height: 600px;
    width: 900px;
}